# This requirements.txt file allows other working on project to quickly and easily install all necessary packages
# This can be achieved by running: pip install -r requirements.txt

apache-beam[gcp]==2.54.0
earthengine-api~=0.1.392
requests~=2.31.0
plotly~=5.19.0
numpy
pandas
pyspark==3.5.1
python-dotenv==1.0.1
Flask==2.0.1
Werkzeug==2.0.1
